*{
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a,a:focus,a:active{
	outline: none;
	user-select: none;
}

nav,footer,header,aside{display: block;}

html,body{
    background: #ffffff;
    font-family: 'Ubuntu', sans-serif;
	height: 100%;
	width: 100%;
    line-height: 110%;
	font-size: 24px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    color: #3E3E3E;
    font-weight: 400;
    letter-spacing: 0.06em;

}
input,button,textarea{font-family:inherit;color:inherit;background: transparent;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;}
* {
    -webkit-tap-highlight-color: transparent;
}

img{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
/*--------------------*/


.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main{
    flex: 1 1 100%;
}
._container{
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px 50px;
    box-sizing: content-box;
}
section{
    margin-top: 80px;
}
/*--------------header-------------*/
.header__body {
}
._container {
}
.header__content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.header__content>*{
    width: 33.333%;
}
.header__navigator {
    display: flex;
    align-items: center;
}
.navigator {
}
.navigator__items {
    display: flex;
    align-content: center;
}
.navigator__items>*:not(:last-child) {
    margin-right: 40px;
}
.navigator__item {
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    transition: all .1s ease 0s;
}
.navigator__item:hover{
    color: #019746;
}
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    position: relative;
    width: 120px;
    height: 110px;
}
.logo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header__switch{
    display: flex;
    justify-content: end;
}
.switch .switch__field{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    user-select: none !important;
    -webkit-user-select: none !important;
}

.switch span{
    font-weight: 600;
    font-size: 20px;
    user-select: none !important;
    -webkit-user-select: none !important;
}
.switch__r{
    color: #039646;
}
.switch__t{
    color: #E31E25;
}

.switch__item{
    margin: 0 5px;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    background: rgba(128, 179, 255, 0.5);
    position: relative;
}

.switch__item span{
    position: absolute;
    transition: all .1s ease 0s;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%) translateX(0);
    left: 4px;
    background: #48A7FF;
    border-radius: 50%;
}

.switch._active .switch__item span{
    left: auto;
    /* right: 4px; */
    transform: translateY(-50%) translateX(24px);
}
/*--------banner-------*/
.banner{
    position: relative;

}

.banner img{
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}
/*----------letters-----------*/
.alphabet {
}
.alphabet__body {
}
._container {
}

.alphabet__content {
}
h2{
    color: #019746;
    line-height: 110%;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}
.alphabet__letters {
    margin-top: 40px;
}
.alphabet__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.alphabet__item {
    user-select: none;
    padding: 15px 17px;
    background: #EEEEEE;
    border-radius: 15px;
    cursor: pointer;
    transition: all .1s ease 0s;
}
.letter {
    font-size: 36px;
    font-weight: 500;
    border: 3px solid transparent;
}
.vowel {
    color: #E31E25;
}
.consonant {
    color: #48A7FF;
}
.soft {
    color: #009746;
}
.alphabet__item:hover{
    background: #e4e4e4;
}
.letter._active{
    background: rgb(250, 250, 250);
    border: 3px solid #e4e4e4;
    /* filter: brightness(.95); */
}

/*----------information------------*/
.information {
}
.information__body {
}
._container {
}
.information__content {
}
.content {
}
.content__spell {
    display: flex;
    flex-wrap: nowrap;

}
.content__letter {
    flex: 0 0 40%;
    position: relative;
}
.content__letter img{
    object-fit: cover;
    width: 100%;
}
.content__grammar {
}
.content__letter-info {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.letter-info__description{
    margin-top: 20px;
}
.content__letter-text {
    flex-wrap: nowrap;
    display: flex;
    align-items:flex-end;
    margin-left: 30px;
}
.content__letter-symbhol {
    color: #3E3E3E;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
}
.content__letter-type {
    color: #E31E25;
    font-size: 20px;
    font-weight: 600;
}
.content__voice {
    width: 60px;
    height: 60px;
    background: #C0D9FF;
    border-radius: 50%;
    padding: 15px;
}
/*---------footer---------*/

.footer__img img{
    width: 100%;
}
